<%= simple_form_for(@user_task, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, as: :text, placeholder: "Do things!" %>
    <%= f.input :due, as: :string, placeholder: "Today!" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
